#Header {
  background-color: #1f3242;
  font-size: 0.9em;
  padding-top: 8px;
}

#Header .header1 {
  color: #68AEAF;
}

#Header .header1 a {
  color: yellow;
}

#Header .news {
  padding: 0px 10px 5px 0px;
  border-radius: 1.5em;
  background-color: #EE5586;
  color: white;
}

#Header .headerLink a {
  color: #68AEAF;
  margin-left: 15px;
  text-decoration: none;
}

#Header .headerLink a:hover {
  color: white;
}

#SERVERS {
  position: relative;
  height: 800px;
  background-image: url(http://inebur.com/antler/template/patterns/gaming.svg);
  background-image: cover;
  background-color: #16222A;
  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to bottom, #3A6073, #16222A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#SERVERS #gaming span {
  color: #EE5586;
}

#SERVERS #gaming .gaming-head {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  color: #fff;
  display: inline-block;
  font-family: "Open Sans Bold";
  font-weight: 700;
  line-height: 58px;
  font-size: 52px;
}

#SERVERS #gaming .gaming-subhead {
  color: white;
}

#SERVERS .logo {
  padding-top: 20px;
  cursor: pointer;
}

#SERVERS #homeIdAnt {
  position: relative;
}

#SERVERS #homeIdAnt span {
  position: absolute;
  right: 0;
  background: #EE5586;
  border-radius: 10px 0 0 10px;
}

#SERVERS #homeIdCs {
  position: relative;
}

#SERVERS #homeIdCs span {
  position: absolute;
  right: 0;
  background: #EE5586;
  border-radius: 10px 0 0 10px;
}

#SERVERS .left-svg {
  padding: 10px 15px 5px 0;
}

#SERVERS .menu {
  position: relative;
}

#SERVERS .menu li {
  padding: 25px 15px;
}

#SERVERS .menu .smalldrop:hover .smalldrop-menu {
  display: block;
}

#SERVERS .menu .smalldrop .dropdown-menu-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#SERVERS .menu .bigmenu {
  display: none;
  border-radius: 10px;
}

#SERVERS .menu .bigDroppedMenu {
  top: 99% !important;
}

#SERVERS .menu .bigDroppedMenu:hover .bigmenu {
  display: block;
}

#SERVERS .top-banner {
  padding-top: 100px;
  padding-bottom: 100px;
}

#SERVERS .HomeRTL {
  padding: 5px 10px;
  background: #EE5586;
  border-radius: 15px;
}

#SERVERS .mini-text {
  border-radius: 10px;
}

#SERVERS .mini-text li {
  padding: 8px;
}

#SERVERS .mini-text a {
  text-decoration: none;
  color: rgba(14, 12, 12, 0.658);
}

#SERVERS .mini-text a:hover {
  color: #EE5586;
}

#SERVERS #dropdownMenuLink {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
}

#SERVERS .inner {
  text-align: center;
  padding-top: 25px;
  border-radius: 0 10px 10px 0;
  height: 100%;
  background-color: #fdd700;
  color: #181b22;
  font-size: 1em;
  font-weight: 600;
}

#SERVERS .inner .c-pink {
  color: #EE5586;
}

#mineCrat {
  margin-bottom: 30%;
  background: grey;
}

#mineCrat .meinCratAll {
  position: absolute;
  top: -100px;
  -webkit-box-shadow: grey;
          box-shadow: grey;
  background: white;
  border-radius: 20px 20px;
}

#mineCrat .meinCratAll .meinPlan {
  padding: 40px 60px 40px 60px;
}

#mineCrat .intelXeon {
  background: #EE5586;
  border-radius: 0px 0px 20px 20px;
}

#mineCrat .intelXeon ul {
  margin-bottom: 0;
}

#gameCenter {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #15212a), color-stop(10%, #fdd700)) !important;
  background: linear-gradient(90deg, #15212a 70%, #fdd700 10%) !important;
}

#gameCenter img {
  vertical-align: middle;
  border-style: none;
}

#gameCenter .service-wrap {
  position: absolute;
  max-width: 1140px;
  top: 0;
  height: 100%;
  padding-top: 10%;
}

#gameCenter .service-wrap .services {
  background: white;
  border-radius: 15px;
  margin-top: 50px;
  padding: 50px;
}

#gameCenter .service-wrap .services .title {
  font-family: "Open Sans SemiBold";
  font-size: 18px;
  color: #212122;
  margin-top: 20px;
  margin-bottom: 14px;
}

#gameCenter .service-wrap .section-heading {
  font-family: "Open Sans";
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  color: white;
  line-height: 34px;
}

#gameCenter .service-wrap .section-subheading {
  font-family: "Open Sans";
  color: grey;
  font-size: 16px;
  margin-bottom: 0;
  line-height: 34px;
}
/*# sourceMappingURL=style.css.map */