#Header{
    background-color:rgb(31, 50, 66);
    font-size:0.9em;
    padding-top: 8px;
    .header1{
        color: #68AEAF;
        a{
            color: yellow;
        }
    }
    .news{

        padding: 0px 10px 5px 0px;
        border-radius: 1.5em;
        background-color: #EE5586;
        color: white;
    }
    .headerLink{
        a{
            color:#68AEAF ;
            margin-left: 15px ;
            text-decoration: none;
        }
        a:hover{
            color: white;
        }
    }
}
#SERVERS{
    background: url(http://inebur.com/antler/template/patterns/gaming.svg);
    background-color: #C04848;  /* fallback for old browsers */
background-color: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
background-color: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .logo{
        color: white;
        font-weight: 700;
    }
    .menu{
        position:relative;
        li{

            padding:25px 15px;
        }
        .smalldrop{
            &:hover{
                .smalldrop-menu
                {
                    display:block;
                }

            }
            .dropdown-menu-center{
                 left: 50%;
                transform: translateX(-50%);
            }
        }
        .bigmenu{
            display: none;
        }
        .bigDroppedMenu{
            &:hover{
                .bigmenu{
                    display:block;
                }
            }
        }
    }
    .top-banner{
        padding-top: 100px;
        padding-bottom: 100px; 
    }
}
